body {
    background-image: url("../images/b48.png");
    background-repeat: y;
    margin: 0;
    padding: 0;
}

/* For background blending */

body:after {
    opacity: 0.2;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-repeat: repeat;
    background: #dceeff;
}

.NavWrapper {
    /* overflow: hidden; */
    /* width: 100%; */
    /* border: 1px solid black; */
    display: block;
    width: 250px;
    float:right;
    height: 30px;
    position: relative;
}

.Profile-Dropdown-button {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* General styling */
    /* border: 1px solid green; */
    border:none;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background-color: #394b83;
    color: #dbdfe2;

    /* Positioning */
    /* float: right; */
    /* margin: 4px 2px; */
    padding:0;
    width: 100%;
    height: 100%;
}

.Profile-Dropdown-content {
    display: none;
    position: absolute;
    background-color: #394b83;
    color: #dbdfe2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 150px;
    padding-left: 5px;
}

.Profile-Dropdown-content a {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
}

.Profile-Dropdown-content-icon {
    height: 12px;
    color: #419dda;
}

.NavWrapper:hover .Profile-Dropdown-content {
    display: block;
    background-color: #394b83;
}

.Article-header {
    display: block;
    margin-right: 15%;
    margin-left: 15%;
}

.Post-content {
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
    border-top: solid 1px gray;
    padding-top: 20px;
}

.Post-content:last-of-type {
    border-bottom: solid 1px gray;
}

/* Same as article box, but does not display top border */
.comment-box {
    overflow: hidden;
    border-top: solid 1px gray;
}

.Author {
    /*text-align: center;*/
    float: left;
    /*margin-right: 40px;*/
    padding-right: 50px;
    padding-bottom: 15px;
}

.avatar-box {
    /*margin-left: 40px;*/
    float: left;
    height: 60px;
    width: 60px;
    border: solid black 1px;
    text-align: center;
}

.Author-detail {
    float: right;
    padding-left: 15px;
}

.avatar-box-op {
    /*margin-left: 40px;*/
    float: left;
    height: 60px;
    width: 60px;
    border: solid #42e5f4 2px;
    text-align: center;
}

.profile-picture {
    width: 60px;
    height: 60px;
}

.Post-title {
    font-family: 'Fira Mono', monospace;
    font-style: normal;
    font-size: 24px;
    line-height: 20px;
    padding-top: 15px;
}

.article-description {
    overflow: hidden;
    position: relative;
    padding-bottom: 15px;
    display: inline;
}

.article-description p {
    font-size: 16px;
}

.Post-editor-tools {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 70%;
}

.Post-editor-tools p {
    font-size: 16px;
}

.comments-box {
    border: solid 1px black;
}

.Post-editor-wrapper {
    width: 100%;
    background-color: rgba(158, 158, 158, 0.226);
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    /*
    padding-left: 15%;
    padding-right: 15%;
    */
}

.Post-editor {
    /* Positioning */
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 2px;
}

#toolbar {
    width: 100%;

    /* Styling */
    border: solid 1px gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: rgba(163, 162, 162, 0.164);

}

#editor {
    height: 200px;
    width: 100%;

    /* Styling */
    border: solid 1px gray;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(255, 255, 255, 0.281);

}

#editor p {
    font-size: 16px;
}

.Post-submit-button {
    background-color: rgb(8, 71, 122);
    border: solid 1px rgb(65, 157, 218);
    color: #dbdee2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

    /* Font settings */
    font-family: 'Fira Mono', monospace;
}

.Post-submit-button:hover {
    background-color: rgb(65, 157, 218);
    border: solid 1px rgb(8, 71, 122);
}

::selection {
    background: rgba(8, 71, 122, 0.3);; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgb(8, 71, 122, 0.3);; /* Gecko Browsers */
}

/* Almost footer, but not quite */
.virtual-footer {
    padding-top: 70px;
    text-align: center;
    height: 100px;
    width: 100%;
}

.virtual-footer-button {
    background-color: rgb(8, 71, 122);
    border: solid 1px rgb(65, 157, 218);
    color: #dbdee2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    /* Font settings */
    font-family: 'Fira Mono', monospace;
}

.virtual-footer-button:hover {
    background-color: rgb(65, 157, 218);
    border: solid 1px rgb(8, 71, 122);
}
