body {
    background-image: url("../images/b48.png");
    background-repeat: y;
}

/* For background blending */
body:after {
    opacity: 0.2;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-repeat: repeat;
    background: #dceeff;
}

.NavWrapper {
    /* overflow: hidden; */
    /* width: 100%; */
    /* border: 1px solid black; */
    display: block;
    width: 250px;
    float:right;
    height: 30px;
    position: relative;
}

.Profile-Dropdown-button {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* General styling */
    /* border: 1px solid green; */
    border:none;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background-color: #394b83;
    color: #dbdfe2;

    /* Positioning */
    /* float: right; */
    /* margin: 4px 2px; */
    padding:0;
    width: 100%;
    height: 100%;
}

.Profile-Dropdown-content {
    display: none;
    position: absolute;
    background-color: #394b83;
    color: #dbdfe2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
}

.Profile-Dropdown-content a {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.NavWrapper:hover .Profile-Dropdown-content {
    display: block;
    background-color: #394b83;
}

.front-elements {
    position: relative;
    height: 650px;
    display: inline-block;
    width: 100%;
}

#logo {
    position:absolute;
    left:50%;
    top: 25%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

#searchbar {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* Border styling */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background: #283b79;
    color: #f8f4ea;
    opacity: 0.90;
    outline: none;
    text-align: center;

    /* Shadow */
    box-shadow: 1px 1px black;

    font-family: 'Fira Mono', monospace;

    width: 450px;
    font-size: 24px;
    left:50%;
    top: 75%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position:relative;
}

.hot-articles {
    width: 100%;
    border-top: double;
}

#title-box {
    display: inline;
}

h3 {
    display: inline;
}

#fire-icon {
    overflow: hidden;
    height: 24px;
    width: 24px;
}