form {
    display: block;
    padding-top: 20%;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

::selection {
    background: rgba(8, 71, 122, 0.3);; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgb(8, 71, 122, 0.3);; /* Gecko Browsers */
}

.Login-button, #id_username, #id_password {
    width: 255px;
    height: 45px;
    margin-bottom: 10px;

    font-size: 28px;
    text-align: center;
}
