/*
 *
 *
 *
 *
 *
 *
 *  My eyes can't be bothered with looking that high
 *  and I'm too lazy to scroll
 */

 .NavWrapper {
    /* overflow: hidden; */
    /* width: 100%; */
    /* border: 1px solid black; */
    display: block;
    width: 250px;
    float:right;
    height: 30px;
    position: relative;
}

.Profile-Dropdown-button {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* General styling */
    /* border: 1px solid green; */
    border:none;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background-color: #394b83;
    color: #dbdfe2;

    /* Positioning */
    /* float: right; */
    /* margin: 4px 2px; */
    padding:0;
    width: 100%;
    height: 100%;
}

.Profile-Dropdown-content {
    display: none;
    position: absolute;
    background-color: #394b83;
    color: #dbdfe2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
}

.Profile-Dropdown-content a {
    /* Removing the OS default input box appearance to use our own */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.NavWrapper:hover .Profile-Dropdown-content {
    display: block;
    background-color: #394b83;
}

.Search-header {
     display: block;
     margin-right: 15%;
     margin-left: 15%;
 }

.Search-summary {
     display:block;
     margin-bottom: 10px;
 }

/* For the search results highlighting */
.highlight {
    font-weight: bold;
    font-size: 120%;
    background-color: goldenrod;
}

.result-link {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    background-color: transparent;
    text-decoration: none; /* no underline */
    color: black;

    /* Prevent selection */
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
}

.result-link:visited {
    color: inherit;
}

.result-link:hover {
    background-color: rgba(158, 158, 158, 0.336);
}

/*
 *  Below code is the same as in detail.css
 *  We copy it instead of referencing it,
 *  because we want to modify it slightly in the search results.
 */

body {
    background-image: url("../images/b48.png");
    background-repeat: y;
    margin: 0;
    padding: 0;
}

/* For background blending */

body:after {
    opacity: 0.2;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-repeat: repeat;
    background: #dceeff;
}

.Post-content {
    overflow: hidden;
    border-top: solid 1px gray;
}

.Post-content:last-of-type {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

/* Same as article box, but does not display top border */
#comment-box {
    overflow: hidden;
    border-top: solid 1px gray;
}

.Author {
    /*text-align: center;*/
    float: left;
    /*margin-right: 40px;*/
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar-box {
    /*margin-left: 40px;*/
    float: left;
    height: 60px;
    width: 60px;
    border: solid black 1px;
    text-align: center;
}

.Author-detail {
    float: right;
    padding-left: 15px;
    /*float: right;*/
    /*loat: right;*/
}

#avatar-box-op {
    /*margin-left: 40px;*/
    height: 60px;
    width: 60px;
    border: solid #42e5f4 2px;
    text-align: center;
}

.profile-picture {
    width: 60px;
    height: 60px;
}

.Post-title {
    font-family: 'Fira Mono', monospace;
    font-style: normal;
    font-size: 24px;
    line-height: 20px;
    padding-top: 15px;
}

#article-description {
    overflow: hidden;
    width: 60%;
    position: relative;
    padding-left: 5px;
    padding-bottom: 15px;
}

#comments-box {
    border: solid 1px black;
}

/* Almost footer, but not quite */
#virtual-footer {
    padding-top: 60px;
    text-align: center;
    height: 100px;
    width: 100%;
}

#virtual-footer-button {
    background-color: rgb(8, 71, 122);
    border: solid 1px rgb(65, 157, 218);
    color: #dbdee2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    /* Font settings */
    font-family: 'Fira Mono', monospace;
}

#virtual-footer-button:hover {
    background-color: rgb(65, 157, 218);
    border: solid 1px rgb(8, 71, 122);
}
