<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Hivemind –– {{ article.name}}</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/detail.css' %}">
    </head>

    <body>
        <!-- AccountDropdown: -->
        <!-- BLOCK START -->
        <div class="NavWrapper">
            <button class="Profile-Dropdown-button">Welcome, guest</button>
            <div class="Profile-Dropdown-content">
                <a href="/login/">Log in</a>
            </div>
        </div>
        <div class="Article-header">
            <h1>{{ article.name }}</h1>
        </div>
        <div class="Post-content">
            <div class="Author">
                <div class="avatar-box">
                        <img class="profile-picture" src="{% static 'images/fire.png' %}" alt="Fire!" title="HARDCODED PIECE OF SHIT: FIX ME!!"/>
                </div>
                <div class="Author-detail">
                    {{ article.author }} 
                    <h6>Posted on {{ article.date_created }}
                    {% if article.is_modified %}
                        <br>Modified on {{ article.date_modified }}</h6>
                    {% endif %}
                </div>
            </div>
            <div class="article-description">
                <p>{{ article.description|safe }}</p>
            </div>
        </div>
        <!-- Comment results listing: -->
        {% for comment in article.comment_set.all %} 
            <div class="Post-content" id="post-{{ comment.id }}">
                <div class="Author">
                    <div class="avatar-box">
                            <img class="profile-picture" src="{% static 'images/fire.png' %}" alt="Fire!" title="HARDCODED PIECE OF SHIT: FIX ME!!"/>
                    </div>
                    <div class="Author-detail">
                        {{ comment.author }} 
                        <h6>Posted on {{ comment.date_created }}
                        {% if article.is_modified %}
                            <br>Modified on {{ comment.date_modified }}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="article-description">
                    <p>{{ comment.comment|safe }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="virtual-footer">
            <a class="virtual-footer-button" href="http://localhost:8000/">< GO BACK HOME</a>
        </div>
    </body>
</html>