<!DOCTYPE html>

{% load static %}
{% load highlighter %}

<html>
    <head>
        <title>Hivemind –– Search</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/search.css' %}">
    </head>

    <body>
        <!-- AccountDropdown: -->
        <!-- BLOCK START -->
        <div class="NavWrapper">
            <button class="Profile-Dropdown-button">Welcome, {{ user }}</button>
            <div class="Profile-Dropdown-content">
                {% if request.user.is_authenticated %}
                    <a href="/logout/">Log out</a>
                {% else %}
                    <a href="/login/">Log in</a>
                {% endif %}
            </div>
        </div>
        <header class="Search-header">
            <h1 class="Search-heading">
                Search results for "{{ search }}"
            </h1>
            <div class="Container">
                <div class="Search-controls">
                    <form action class="Form" id="search-form">

                    </form>
                </div>
            </div>
            <div class="Search-summary">
                x-y of {{ total_results }} posts
            </div>
        </header>
        <div class="Search-Result"></div>
        <!-- Article results listing: -->
        {% if comment_results or article_results %}
            {% for article in article_results %}
                <a href="{% url 'detail' article.id %}" class="result-link Post-content">
                    <div class="Author">
                        <div class="avatar-box">
                                <img class="profile-picture" src="{% static 'images/fire.png' %}" alt="Fire!" title="HARDCODED PIECE OF SHIT: FIX ME!!"/>
                        </div>
                        <div class="Author-detail">
                            {{ article.author }} 
                            <h6>Posted on {{ article.date_created }}
                            {% if article.is_modified %}
                                <br>Modified on {{ article.date_modified }}</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Post-title">
                        {{ article.name }}
                    </div>
                    <div id="article-description">
                        <p>{{ article.description|highlighter:search|safe }}</p>
                    </div>
                </a>
            {% endfor %}
            <!-- Comment results listing: -->
            {% for comment in comment_results %}
                <a href="{% url 'detail' comment.article.id %}#post-{{ comment.id }}" class="result-link Post-content">
                    <div class="Author">
                        <div class="avatar-box">
                                <img class="profile-picture" src="{% static 'images/fire.png' %}" alt="Fire!" title="HARDCODED PIECE OF SHIT: FIX ME!!"/>
                        </div>
                        <div class="Author-detail">
                            {{ comment.author }} 
                            <h6>Posted on {{ comment.date_created }}
                            {% if article.is_modified %}
                                <br>Modified on {{ comment.date_modified }}</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Post-title">
                        {{ comment.article.name }}
                    </div>
                    <div id="article-description">
                        <p>{{ comment.comment|highlighter:search|safe }}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <h2>No results</h2>
        {% endif %}

        <!-- Virtual footer: The div containing the 'GO BACK HOME' button -->
        <div id="virtual-footer">
            <a id="virtual-footer-button" href="http://localhost:8000/">< GO BACK HOME</a>
        </div>
    </body>
</html>