<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/login.css' %}">
      <link rel="icon shortcut" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
  </head>
  <body>
    {% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input name="username" autofocus="" maxlength="254" required="" id="id_username" type="text" placeholder="Username"/>
      <input name="password" autofocus="" maxlength="254" required="" id="id_password" type="password" placeholder="Password"/>
      <input class="Login-button" type="submit" value="Log in"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

    {% endblock %}
  </body>
</html>
